<h1>Citations</h1>

<table>
  <thead>
    <th></th>
    <th>Title</th>
    <th>Publised Date</th>
    <th>Status</th>
  </thead>
  <tbody>
    <%= render partial: 'citation', collection: @citations %>
  </tbody>
</table>
